<a href="https://colab.research.google.com/github/devyaniii12/ML_LAB_0/blob/main/ML_LAB_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import re
sns.set()

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-11/hotels.csv")

In [ ]:
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       2  ...    No Deposit
1                        0                     0       2  ...    No Deposit
2                        0                     1       1  ...    No Deposit
3                        0                     1       1  ...    No Deposit
4                        0                     2       2  ...    No Deposit

   agent company days_in_waiting_list customer_type   adr  \
0    NaN     NaN                    0     Transient   0.0
1    NaN     NaN                    0     Transient   0.0
2    NaN     NaN                    0     Transient  75.0
3  304.0     NaN                    0     Transient  75.0
4  240.0     NaN                    0     Transient  98.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out
1                            0                          0           Check-Out
2                            0                          0           Check-Out
3                            0                          0           Check-Out
4                            0                          1           Check-Out

  reservation_status_date
0              2015-07-01
1              2015-07-01
2              2015-07-02
3              2015-07-02
4              2015-07-03

[5 rows x 32 columns]

In [ ]:
df = df.reset_index().rename(columns={'index':'id'})
print(df)

            id         hotel  is_canceled  lead_time  arrival_date_year  \
0            0  Resort Hotel            0        342               2015
1            1  Resort Hotel            0        737               2015
2            2  Resort Hotel            0          7               2015
3            3  Resort Hotel            0         13               2015
4            4  Resort Hotel            0         14               2015
...        ...           ...          ...        ...                ...
119385  119385    City Hotel            0         23               2017
119386  119386    City Hotel            0        102               2017
119387  119387    City Hotel            0         34               2017
119388  119388    City Hotel            0        109               2017
119389  119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  ...  deposit_type  agent  company  \
0                          0  ...    No Deposit    NaN      NaN
1                          0  ...    No Deposit    NaN      NaN
2                          1  ...    No Deposit    NaN      NaN
3                          1  ...    No Deposit  304.0      NaN
4                          2  ...    No Deposit  240.0      NaN
...                      ...  ...           ...    ...      ...
119385                     5  ...    No Deposit  394.0      NaN
119386                     5  ...    No Deposit    9.0      NaN
119387                     5  ...    No Deposit    9.0      NaN
119388                     5  ...    No Deposit   89.0      NaN
119389                     7  ...    No Deposit    9.0      NaN

       days_in_waiting_list customer_type     adr required_car_parking_spaces  \
0                         0     Transient    0.00                           0
1                         0     Transient    0.00                           0
2                         0     Transient   75.00                           0
3                         0     Transient   75.00                           0
4                         0     Transient   98.00                           0
...                     ...           ...     ...                         ...
119385                    0     Transient   96.14                           0
119386                    0     Transient  225.43                           0
119387                    0     Transient  157.71                           0
119388                    0     Transient  104.40                           0
119389                    0     Transient  151.20                           0

        total_of_special_requests  reservation_status  reservation_status_date
0                               0           Check-Out               2015-07-01
1                               0           Check-Out               2015-07-01
2                               0           Check-Out               2015-07-02
3                               0           Check-Out               2015-07-02
4                               1           Check-Out               2015-07-03
...                           ...                 ...                      ...
119385                          0           Check-Out               2017-09-06
119386                          2           Check-Out               2017-09-07
119387                          4           Check-Out               2017-09-07
119388                          0           Check-Out               2017-09-07
119389                          2           Check-Out               2017-09-07

[119390 rows x 33 columns]

In [ ]:
def check_values(df):
  data = []
  for column in df.columns:
     data.append([ column,df[column].dtype,df[column].isna().sum(),round(100*(df[column].isna().sum()/len(df)),2),df[column].nunique() ])
  return pd.DataFrame(columns=['Data_Features','Data_Type','Null','Null_Percentage','Unique_Value'], data=data)

In [ ]:
check_values(df)

,Data_Features,Data_Type,Null,Null_Percentage,Unique_Value
0,id,int64,0,0.00,119390
1,hotel,object,0,0.00,2
2,is_canceled,int64,0,0.00,2
3,lead_time,int64,0,0.00,479
4,arrival_date_year,int64,0,0.00,3
5,arrival_date_month,object,0,0.00,12
6,arrival_date_week_number,int64,0,0.00,53
7,arrival_date_day_of_month,int64,0,0.00,31
8,stays_in_weekend_nights,int64,0,0.00,17
9,stays_in_week_nights,int64,0,0.00,35
10,adults,int64,0,0.00,14
11,children,float64,4,0.00,5
12,babies,int64,0,0.00,5
13,meal,object,0,0.00,5
14,country,object,488,0.41,177
15,market_segment,object,0,0.00,8
16,distribution_channel,object,0,0.00,5
17,is_repeated_guest,int64,0,0.00,2
18,previous_cancellations,int64,0,0.00,15
19,previous_bookings_not_canceled,int64,0,0.00,73
20,reserved_room_type,object,0,0.00,10
21,assigned_room_type,object,0,0.00,12
22,booking_changes,int64,0,0.00,21
23,deposit_type,object,0,0.00,3
24,agent,float64,16340,13.69,333
25,company,float64,112593,94.31,352
26,days_in_waiting_list,int64,0,0.00,128
27,customer_type,object,0,0.00,4
28,adr,float64,0,0.00,8879
29,required_car_parking_spaces,int64,0,0.00,5
30,total_of_special_requests,int64,0,0.00,6
31,reservation_status,object,0,0.00,3
32,reservation_status_date,object,0,0.00,926